<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="height: 400px;">
    <div class="carousel-item active">
      <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/artistic-album-cover-design-template-d12ef0296af80b58363dc0deef077ecc_screen.jpg?ts=1561488440" class="d-block mx-auto h-100" alt="Hello">
    </div>
    <div class="carousel-item">
      <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/dj-album-cover-art-template-design-b12d3187741eae3c70fa59cefd15605b_screen.jpg?ts=1594622282" class="d-block mx-auto h-100" alt="Hello">
    </div>
    <div class="carousel-item">
      <img src="https://cms-assets.tutsplus.com/uploads/users/114/posts/34296/final_image/Final-image.jpg" class="d-block mx-auto h-100" alt="Hello">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>